.hero__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.hero__title {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
}

.hero__quote {
    font-size: 30px;
}