* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar__container {
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 100vw;
    padding: 20px;
    justify-content: space-between;
    background-color: transparent;
    color: #FFFFFF;
}



